<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    
    
    
    
    <title> X-BUZ  Error page</title>

    <%- include('partials/meta') %>


</head>

<body id="body">
     
 
    <%- include('partials/header') %>
    
    <%- include('partials/notfound') %>
           <%- include('partials/footer') %>

   
</body>

</html>